@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif; 
  margin: 0; 
}
.slider_container {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  background-color: #2e2e2e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 ;
}

.active_art {
  background-image: url(/backgraun_img.png) ;
  background-size: cover;
  background-position: center;
}

/* .active_cherep {
  background-image: url(/backgraun_img.png) ;
  background-size: cover;
  background-position: center;
}

.active_sea {
  background-image: url(/backgraun_img.png) ;
  background-size: cover;
  background-position: center;
}

.active_game {
  background-image: url(/backgraun_img.png) ;
  background-size: cover;
  background-position: center;
}
.active_improvisation{
  background-image: url(/backgraun_img.png) ;
  background-size: cover;
  background-position: center;
} */

.container {
  display: flex;
  width: 100%;
  padding: 0 ;
}

.slide { 
 /* 1  */
  height: 80vh; 
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.7s ease-in-out ;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in ;
}
 
.slide.activ {
  flex: 10; 
}

.slide.activ h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in ; 
}